.header {
  background-color: darkblue;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 2em;
  box-shadow: 4px 4px 10px 1px black;
}

.link {
  text-decoration: none;
}

.main-title {
  font-size: 4em;
  color: white;
}

.create-game,
.your-game {
  background-color: darkblue;
  color: white;
  margin-top: 1.1em;
  font-size: 1.6em;
  font-weight: bold;
  border: solid;
}
