.question-bar {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.category {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 35vh;
  overflow-y: scroll;
}

.dropdown-btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.number-questions {
  display: grid;
  grid-template-columns: auto auto;
}

.question-number {
  height: 10vh;
  width: 10vh;
}

.difficulty {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
}

.difficulty-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 35vh;
  overflow-y: scroll;
}

.difficulty-btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.difficulty-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.difficulty-content a:hover {background-color: #ddd;}

.difficulty-dropdown:hover .difficulty-content {display: block;}

.difficulty-dropdown:hover .difficulty-btn {background-color: #3e8e41;}

.submit {
  height: 10vh;
}
