.question-bar {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: darkblue;
  color: white;
  box-shadow: 4px 4px 10px 1px black;
}

.category {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
}

.dropdown,
.difficulty-dropdown {
  height: 5vh;
  margin-top: 1em;
}

.submit {
  background-color: darkblue;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
}

.submit:hover {
  transform: scale(1.05);
  background-color: darkgrey;
  cursor: pointer;
}

.number-questions {
  display: grid;
  grid-template-columns: auto auto;
}

.question-number {
  height: 4vh;
  width: 10vh;
  margin-top: 1em;
}

.difficulty {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
}
